<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" [routerLink]="['/characters']">Ng Marvel Comics</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/characters']">Characters</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/comics']">Comics</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/creators']">Creators</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/events']">Events</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/series']">Series</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/stories']">Stories</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="http://marvel.com">Data provided by Marvel. © 2017 MARVEL</a></p>
  </div>
</footer>